language {
  display: inline;
  padding: 30px;
}
.heading {
  font-size: 20px;
}
.nav {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  height: 9vh;
  color: white;
  text-transform: uppercase;
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cusbtn {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none !important;
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  position: relative;
  left: -8px;
  font-size: 1.5rem !important;
  text-transform: uppercase;
  text-align: center;
}

#source {
  width: 100%;
  background: white;
  height: 55vh;
  font-size: 18px;
  resize: vertical;
  border-radius: 1rem;
  padding: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#source:active {
  border: none !important;
}

textarea:focus,
input:focus {
  outline: 0;
}

*:focus {
  outline: 0;
}
#input {
  /* background: #cccccc52; */
  width: 47vw;
  height: 13vh;
  resize: vertical;
  font-size: 17px;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  overflow: hidden;
}
#output {
  /* background: #cccccc52; */
  width: 47vw;
  height: 58vh;
  position: relative;
  top: 1rem;
  font-size: 18px;
  right: 0;
  resize: none;
  border-radius: 1rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 2rem;
  overflow: hidden;
  color: red;
}
.language {
  width: 150px;
}
